/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Segoe UI';
    margin: 0;
}
.white-font-color {
    color: #ffffff;
}
.text-center {
    text-align: center;
}
.border-none {
    border: none;
}
.cursor-pointer {
    cursor: pointer;
}
.margin-top-1 {
    margin-top: 1%;
}